@import "card.scss";

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}